{% extends 'base.html.twig' %}

{% block title %}Edit Music{% endblock %}

{% block body %}
    <h1>Edit Music</h1>

    {{ include('music/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_music_index') }}">back to list</a>

    {{ include('music/_delete_form.html.twig') }}
{% endblock %}
